.overlay-detailevent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-detailevent {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50rem;
}

.modal-detailevent img {
    width: 40rem;
}

.text-detailevent p{
    font-size: 1rem;
}